<div class="container">
  <div class="row">
    <div class="col">
      <div
        class="card p-2 border border-warning m-auto"
        style="max-width: 600px"
      >
        <h1 class="display-4 text-warning text-center">Create Your Password</h1>
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="password"
            [(ngModel)]="password"
          />
          <label for="password">New Password</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            id="cnfPassword"
            placeholder="password"
            [(ngModel)]="cnfPassword"
          />
          <label for="cnfPassword">Confirm New Password</label>
        </div>
        <button class="btn w-100 mt-2 btn-warning" (click)="createPassword()">
          Create Password
        </button>
      </div>
    </div>
  </div>
</div>
