@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&display=swap");
body {
  background-color: #fafafa;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body::-webkit-scrollbar {
  display: none;
}

.card {
  background-color: white;
}

label,
input {
  color: black;
}

.form-floating label,
input {
  color: black;
}

hr {
  height: 2px !important;
  background: #ffc20a;
  opacity: 1;
}

.btn {
  border-radius: 18px;
}

.resume-form h1 {
  color: #ffc107;
  font-family: "Oswald", sans-serif;
}
.resume .card {
  background-color: black;
}
.back {
  height: 100%;
  width: 100%;
  background-color: #fafafa;
  /* background-image: url("https://github.com/sefyudem/Responsive-Login-Form/blob/master/img/wave.png?raw=true"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
  .img1 {
    display: none;
  }
  .img2 {
    display: none;
  }
}
